/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif ;
    color: mintcream;   
    white-space: normal;
    margin: 0;
    background: #fff;
    
    
    
}

h1 {
    font-size: 20px;
    color: mintcream;
}

h2 {
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #bbb;
    color: black;
    height: 135px;
    
}

header, main, footer {
    margin: auto;
    padding:.1rm;
    color: black;
    text-align: center;
    height: auto;
    max-height: 300%;

      
    
}

header, footer, footer a {
    text-align: center;
    background-color: darkred;
    color: mintcream;
     
}

 img {
  
    float: right;
    width: 200;
     height: 273;
    
}


{box-sizing: border-box;}

/*
main div.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

main div.gallery div{
    border: 1px solid rgba(0.95.107);
    border-radius: 3px;
    background-color: rgba(0.95.107.0.8);
    padding: 0.2em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

main div.gallery{
  display: flex;
    flex-direction: column;
    margin: .5vw;
    font-size: 0;
    flex-wrap: wrap;
    flex-flow: row wrap;
     flex-flow: row wrap;
    display: flex;
}







footer {
    clear: both;
    font-size: .95rem;
}