/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 35px;
    font-family: "lato" ;
    color: mintcream;   
    white-space: normal;
    margin: 0;
    background: #fff;  
  
}

h1 {
    font-size: 20px;
    color: mintcream;
    
}

h2 {
    font-size: 18px;
    text-align: center;
    color: black;
    height: 135px;
    border-bottom: 10px solid #bbb;
    padding: 10px;
    display: inline;
}

li{
    text-align: left;
}

h3{
    text-decoration: underline;
}

header, main, footer {
    margin: auto;
    padding:.1rm;
    color: black;
    text-align: center;
    height: auto;
    max-height: 300%;

}

header, footer, footer a {
    text-align: center;
    background-color: darkred;
    color: mintcream;
    border-radius: 15px;
     
}

.backgraund{
    text-align: left;
    padding-left:15px;
}


 .foperfil {
  
    float: right;
    width: 140;
    height: 200;
    border: solid 1px;
     
    
}


{box-sizing: border-box;}


footer {
    clear: both;
    font-size: .95rem;
}