@media only screen and (min-width: 64rem) {
    
      nav button {display: none;}
    
    nav ul li{
        float: left;
    }
    
nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding:  .8rem 1rem;
}

    
    nav ul {margin-left: 2%;}
    
        nav{
      
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(55,111,242,1) 52%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(55,111,242,1) 52%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(55,111,242,1) 52%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
    }
    
    
    
 main figure.Hero{
        display: flex;
        width: auto;
        margin: auto;
        
    }
    

    
    main {
        padding: 0;
        min-height: 10rem;
        
    }
    
    
    
}/* end large */

@media only screen and (min-width: 700px){
main div.gallery{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
        /*padding: auto;*/
}
    
     main div.gallery img{
        display: flex;
        margin: 10px;
    border: 2px solid #000;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3); 
    max-width: 45vw;
    margin-right: auto;
    }


}