@media only screen and (min-width: 35rem) {
    
     header, nav, main, footer {
        max-width: 34rem;
        margin: auto;  
       ;
    }
    
    main figure.Hero{
        width: 86%;
        margin: 1% 0 0 1%;  
    }
    
    main figure.Hero img{
        width: 100%;
    }
    
    main {
        padding: 0;
        min-height: 10rem;
        
    }

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; } 
    nav ul {margin-left: 2%}
     nav ul.hide {display: block;}
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        border: none;
        border-right: 1px solid rgba (0,0,0,0.2);
        padding: .8rem 1rem;
    }
    
   
    
    
    /* hamburger button does not need to be shown in the medium on up views */
    
    section.forecast { ______ }  /* show the 10-day forecast with the medium view and up */

  }



  /*  PUT CSS RULES IN HERE */

