@media only screen and (min-width: 37em){
    
    /* Logo */    
header figure.logo {
    display: flex;
    float: left;
    margin: 0 2% 0 0; 
}

    header figure.logo img{
        border-radius: 40%;
    }
    
    /* NAVEGATION MENU */
   
nav button {display: none;}
    
    nav ul li{
        float: left;
    }
    
nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.5);
    padding:  .9rem 1rem;
}

    
    nav ul {margin-left: 2%;}
    
        nav button {display: none;}
    
    nav ul li{
       float: left;
    }
    
nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding:  .8rem 1rem;
}
    
    nav ul {margin-left: 2%;}
    
    
    nav{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,e73827+100 */
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(top, #f85032 0%, #e73827 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f85032 0%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f85032 0%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */         
    }
    
/* Main information */

     main figure.Hero{
        width: 86%;
        margin: 1% 0 0 1%;  
    }
    
    main figure.Hero img{
        width: 100%;
    }
    
     main figure.Hero{
        display: flex;
        width: auto;
        margin: auto;
    }
    
      div.btngroup {
  		grid-template-columns: repeat(2, 49%);
		grid-gap:2%;
	}
    div.btngroup figure:hover {
		box-shadow: 3px 3px 9px rgba(0,2,2,1);
	}
    
    /* FOOTER*/
    
       footer  {
    background-color: lightcyan;
    padding: .5rem 2%;
    text-align: center;
    
    
}/* END */