@media only screen and (min-width: 100px){
    
    body {
  background-color: lightcyan;
  font-size: 17px;
  font-family: sans-serif; /* Declare the base font-family */
    
}

/* Main Header*/

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 300%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}
    

nav {
    background-color: #f85032;
    font-family: Verdana, sans-serif;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    color: #fff;
}


nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,255);
    border-top: 1px solid rgba(0,0,0,0.3);
}


nav ul li a:hover {background-color: rgba(0,0,0,0.5);}


nav ul li.active a {background-color: rgba(0,0,0,0.2); color: #fff;}

nav ul.hide {display: none;}


/* Logo */    
header figure.logo {
    display: flex;
    float: left;
    margin: 0 2% 0 0; 
}

    header figure.logo img{
        border-radius: 40%;
    }

    

/* Titles */    
header h1 {
    /*float: center;*/
    text-align: center;
    color: #000000;
    background-color: lightcyan;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    margin: 0 2% 0 0;    
}
header h3 {
    font-size: 14px;
    text-align: center;    
   color: #000000;
    background-color: lightcyan;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    margin: 0;

}
    
/* Main */
    
main figure.Hero{
    margin: auto;
      
    }

 article div.History {
    background-color: #248C2B;
    color: #ffffff;
    border: 3px solid #110806;
    border-radius: 3px 30px;
    padding: 0 10px 0 10px;
    margin: 1em 0.5em;
    }

    article img{
     display: block;
     border-radius: 5%;
     float: right; 
     margin: 0 10px 20px 0;  
    }
    
    
  .btngroup {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap: 10px;
}

main .btngroup {
    padding: 0 2%;
	display: grid;
  	grid-template-columns: repeat(1, 100%);
}

	}
div.btngroup div:hover {
		box-shadow: 3px 3px 9px rgba(0,2,2,1);
	}

div.btngroup div {margin: 1rem 0; border: 3px  solid #110806; border-radius: 3px 30px; }
div.btngroup div img {width: 100%;}
 

.btnf  img{
    border-radius: 3px 20px;        
}

.btns  img{
    border-radius: 3px 20px;        
}

.btnt  img{
    border-radius: 3px 20px;        
}

 .upcoming {
    color: #A00711;
    margin: 1em;
    background-color: #FFAB00;
    font-size: 30px;
    text-align: center;
    border: 2px solid #4D5C11;
    text-shadow: 8px 5px 5px #B07600;
}

    .box1, .box2, .box3 {
    background-color: #248C2B;
    color: #ffffff;
    border: 3px solid #110806;
    border-radius: 3px 30px;
    padding: 0 10px 0 10px;
    margin: 1em 0.5em;
    }

     .box1 img{
     display: block;
     border-radius: 5%;
     float: left; 
     margin: 10px 10px 0;  
    }

 .box2 img{
     display: block;
     border-radius: 5%;
     float: left; 
     margin: 10px 10px 0;  
    }

 .box3 img{
     display: block;
     border-radius: 5%;
     float: left; 
     margin: 10px 10px 0;  
    }
    
div.eventsGallery{
    display: flex;
    flex-flow: column;
    
}


main .grid {
    display: grid;
    grid-row-gap: 30px;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);   
    
}

.grid img{
    display: block;
     border-radius: 20%;
    border: 3px solid #110806;
}

main .wrap {
    grid-column: 2/4
    
}

main .photos {
    display: grid;
}

main .bikes {
    text-align: center;
    margin: 20px;
    padding: 5px;
    border-radius: 25px;
}


/* Form */

main h1{
    text-align: center;
}

    main figure.Hero{
     width: 100%;              
    }
    
form fieldset{
    margin: .2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;   
}

form legend{
    color: #445ba9;
    margin: 0 .1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: darkblue;
    font-size: .9rem;
}

form input,  select {
    -webkit-appearence: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .60rem;
    color: #555;
    width: 100%;
    max-width: 15rem;
    background-color: rgba(0,0,0,0.1);
}

form  div.danger{
    display: block;
    padding: .60rem 0;
    color: #555; 
}

form div.Submit{
    border: none;
    background-color: #B5B5B5;
    color: black;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 0% 1% 5rem 2%;
    width: 96%;
    max-width: 9rem;
    text-decoration: none;
    
}

form div.Submit:hover{
    color: #445ba9;
    background-color: #fff;
  }



form  input:required{
    border-left: red solid 4px;
}

form input:required:valid{
     border-left: green solid 4px;
}
 /* FOOTER */
    
    footer  {
    background-color: lightcyan;
    padding: .5rem 2%;
    text-align: center;
}
    
    
    
    
    
    
    
    
    
    
/* CLEAR ELEMENTS */     
    .clearfix:after {
    content: "";
    display: table;
    clear: both;
}
    
} /* END */