@media only screen and (min-width: 64rem ) {
    
    
    
    header, nav, main, footer {
        max-width: 64rem;
        margin: auto;
        
        
    }
    
    

/* Resize the browser 100%
.responsive {
    width: 100%;
    height: auto;
}

*/
/* Resize the image to scale decrease, but never scale up than the original large of the image 
.responsive {
    max-width: 100%;
    height: auto;
}
*/

body header h1{
    float:center;
    text-align: center;
    font-size: 50px;
}

    main figure.Hero{
        width: 100%;
        margin: 0;
        
    }
    
    main figure.Hero{
        width: 100%;
    }